## Kicad
*-lib-table
*-cache
*-rescue.lib
*.sch-bak
*.kicad_pcb-bak
*.dcm
*.kicad_prl
pcb*/**/*-backups/
pcb*/**/*.xml
pcb*/**/out/
pcb/rev*~*/ 

## Quartus
db/
incremental_db/
output/
*.dpf
*.cdf
*.qws
*.srf
cpld/*/simulation/
cpld.*/

## Etc.
refs/
